@font-face {
  font-family: 'MuseoSans';
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/2987C3_0_0.eot");
  src: url("/fonts/2987C3_0_0.eot?#iefix") format('embedded-opentype'), url("/fonts/2987C3_0_0.woff") format('woff'), url("/fonts/2987C3_0_0.ttf") format('truetype');
}
@font-face {
  font-family: 'MuseoSans';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/2987C3_1_0.eot");
  src: url("/fonts/2987C3_1_0.eot?#iefix") format('embedded-opentype'), url("/fonts/2987C3_1_0.woff") format('woff'), url("/fonts/2987C3_1_0.ttf") format('truetype');
}
@font-face {
  font-family: 'MuseoSans-100';
  src: url("/fonts/2987C3_2_0.eot");
  src: url("/fonts/2987C3_2_0.eot?#iefix") format('embedded-opentype'), url("/fonts/2987C3_2_0.woff") format('woff'), url("/fonts/2987C3_2_0.ttf") format('truetype');
}
@font-face {
  font-family: 'MuseoSans';
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/2987C3_3_0.eot");
  src: url("/fonts/2987C3_3_0.eot?#iefix") format('embedded-opentype'), url("/fonts/2987C3_3_0.woff") format('woff'), url("/fonts/2987C3_3_0.ttf") format('truetype');
}
@font-face {
  font-family: 'MuseoSans';
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/2987C3_4_0.eot");
  src: url("/fonts/2987C3_4_0.eot?#iefix") format('embedded-opentype'), url("/fonts/2987C3_4_0.woff") format('woff'), url("/fonts/2987C3_4_0.ttf") format('truetype');
}
html,
body {
  font-size: 12px;
  font-family: 'MuseoSans', Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.14em;
}
h1,
h2,
h3,
p {
  margin: 0 0 0 0;
}
h1 {
  font-size: 4em;
  line-height: 1.2em;
  font-family: 'MuseoSans-100', Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 3em;
  line-height: 1.2em;
}
h3 {
  font-size: 2em;
  line-height: 1.5em;
}
a {
  color: #1df;
}
